@{
    ViewData["Title"] = "À propos";
}
<h1>@ViewData["Title"]</h1>

<p>Cette application Web a été conçue par Louis Bayle pour un usage interne. Toute reproduction ou vol sans accord au préalable
    est strictement interdit.
</p>
